.avatar{
    height: 3em;
    width: 3em;
    margin-left: 2em;
    margin-right: 2em;
    position: relative;

  button {
    height: 100%;
    width: 100%;
    background-color: #e94190;
    color: #ffffff;
    border-radius: 1.5em;
    border: none;
    line-height: 3em;
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
}