#breadcrumbs{
  font-family: 'Dosis', sans-serif;
  margin: 1rem 0 1rem 0;

  a{
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.2em;
    background-color: #f3f3f3;
    color: #000000;
    transition: 0.5s;
  }
  a:hover{
    background-color: #e2e2e2;
    color: #000000;
    text-decoration: none;
  }
}

.table{
  overflow: visible;
  flex-direction: column;
  display: flex;
}

.table-heading{
  align-items: stretch;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 0.2rem 0.2rem 0 0;
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
  font-size: 0.7em;
  position: sticky;
  top: 4rem;
  z-index: 98;

  .col-md-1{
    word-wrap: break-word;
  }
}

.table-row{
  padding: 0.5rem 0 0.5rem 0;
  border: 1px solid #e2e2e2;
  border-top: none;
  cursor: pointer;
  align-items: stretch;

  &:hover{
    background-color: #f8f8f8;
  }

  &:hover .icon-link{
    color: #8d8d8d;
  }

  .icon-link{
    color: #e2e2e2;
    transition: 0.3s;

    &:hover{
      color: #4f4f4f;
    }
  }
}

.table-row:first-child{
  border-top: 1px solid #e2e2e2;
}

.table-col{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bordered{
  border: 1px solid #e2e2e2;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
}

.checklist{
  list-style-type: none;

  li::before{
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #c5c5c5;
    border-radius: 0.2em;
    content: " ";
    margin-right: 0.5em;
  }
}

.page-title{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em;

  &:hover a{
    color: #8d8d8d;
  }

  .page-title__icon{
    font-size: 1.75rem;
    margin-right: 0.3em;
    color: #495057;
  }
}

.detail-tools{
  align-self: start;
  a{
    color: #e2e2e2;
    transition: 0.3s;

    &:hover{
      color: #4f4f4f;
    }
  }
}

.toolbar{
  margin-bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  margin-top:-1em;

  a{
    margin-left: 1em;
  }
}

.helptext{
  font-family: 'Dosis', sans-serif;
}

.cursor-pointer:hover{
  cursor: pointer;
}