.cal{
  width: 100%;
  border: 1px solid #e2e2e2;
  border-top: none;
  height: 800vh;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-rows: repeat(1470, 1fr);
  overflow: hidden;
  :last-child{
    border-bottom: 0;
  }
}

.cal-header{
  position: sticky;
  top: 4em;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  z-index: 98;
}

.legend__item{
  display: flex;
  align-items: center;
  line-height: 1.5em;
  position: relative;
}

.legend__icon{
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.5em;
  vert-align: middle;
}

.cal-row{
  border-bottom: 1px solid #e2e2e2;
  grid-column: 1/ span 2;
}

.cal-time{
  grid-column: 1;
  background-color: #f7f7f7;
  grid-row: span 60;
  line-height: calc(800vh/24);
  border-bottom: #191919;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.event-space{
  grid-column: 2;
  border-bottom: 1px solid #e2e2e2;
  transition: 0.2s;
  cursor: pointer;

  &:hover{
    background-color: #f7f7f7;
  }
}


.event{
  grid-column: 2;
  grid-row-start: 750;
  grid-row-end: 1156;
  color: white;
  font-weight: bold;
  margin: 0 1em 0 1em;
  border-radius: 0.2rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 0px #5d5d5d;
  transition: 0.8s;
  min-height: 0;
  overflow: hidden;

  &:hover{
    margin: 0 0.5em 0 0.5em;
    min-height: 5em;
    box-shadow: 0px 0px 5px #474747;
    z-index: 97;
  }

  &:hover .event__title{
    font-size: 1em;
  }

  &:hover .event__subtitle{
    font-size: 1.5em;
  }

  .event__subtitle{
    font-weight: lighter;
  }

  .detail-tools{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5em;

    a{
      color: #ffffff;
      opacity: 0.75;
    }
    a:hover{
      color: #474747;
    }
  }

  .event__title, .event__subtitle{
    transition: 0.5s;
  }

  .event__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.event--machine{
  background-color: #dc8f5c;
}

.event--workshop{
  background-color: #6DDCBD;
}

.event--reservation{
  background-color: #7686dc;
}

.event.running{
  border-radius: 0.2em 0.2em 0 0;
}

#time{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: red;
}

.row-00{
  grid-row: 1/60;
}

.row-00.cal-time{
  grid-row: 1/30;
}

.row-01{
  grid-row: 60/120;
}

.row-01.cal-time{
  grid-row: 30/90;
}

.row-02{
  grid-row: 120/180;
}

.row-02.cal-time{
  grid-row: 90/150;
}

.row-03{
  grid-row: 180/240;
}

.row-03.cal-time{
  grid-row: 150/210;
}

.row-04{
  grid-row: 240/300
}

.row-04.cal-time{
  grid-row: 210/270;
}

.row-05{
  grid-row: 300/360;
}

.row-05.cal-time{
  grid-row: 270/330;
}

.row-06{
  grid-row: 360/420;
}

.row-06.cal-time{
  grid-row: 330/390;
}

.row-07{
  grid-row: 420/480;
}

.row-07.cal-time{
  grid-row: 390/450;
}

.row-08{
  grid-row: 480/540;
}

.row-08.cal-time{
  grid-row: 450/510;
}

.row-09{
  grid-row: 540/600;
}

.row-09.cal-time{
  grid-row: 510/570;
}

.row-10{
  grid-row: 600/660;
}

.row-10.cal-time{
  grid-row: 570/630;
}

.row-11{
  grid-row: 660/720;
}

.row-11.cal-time{
  grid-row: 630/690;
}

.row-12{
  grid-row: 720/780;
}

.row-12.cal-time{
  grid-row: 690/750;
}

.row-13{
  grid-row: 780/840;
}

.row-13.cal-time{
  grid-row: 750/810;
}

.row-14{
  grid-row: 840/900;
}

.row-14.cal-time{
  grid-row: 810/870;
}

.row-15{
  grid-row: 900/960;
}

.row-15.cal-time{
  grid-row: 870/930;
}
.row-16{
  grid-row: 960/1020;
}

.row-16.cal-time{
  grid-row: 930/990;
}

.row-17{
  grid-row: 1020/1080;
}

.row-17.cal-time{
  grid-row: 990/1050;
}

.row-18{
  grid-row: 1080/1140;
}

.row-18.cal-time{
  grid-row: 1050/1110;
}

.row-19{
  grid-row: 1140/1200;
}

.row-19.cal-time{
  grid-row: 1110/1170;
}

.row-20{
  grid-row: 1200/1260;
}

.row-20.cal-time{
  grid-row: 1170/1230;
}

.row-21{
  grid-row: 1260/1320;
}

.row-21.cal-time{
  grid-row: 1230/1290;
}

.row-22{
  grid-row: 1320/1380;
}

.row-22.cal-time{
  grid-row: 1290/1350;
}

.row-23{
  grid-row: 1380/1440;
}

.row-23.cal-time{
  grid-row: 1350/1410;
}

.row-24{
  grid-row: 1440/1470;
}

.row-24.cal-time{
  grid-row: 1410/1470;
}
