.login-body{
  background-image: url("../img/workshop-impression.jpg");
  background-size: cover;
  background-position: center bottom;
  height: calc(100vh - 4rem);
}

.login-form{
  background-color: #ffffff;
  display: inline-block;
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.2rem;

  input{
    width: 100%;
  }
}