{% load static %}
{% load field_value %}
{% load breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'owba_dashboard/img/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/2fa93aeef4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'owba_dashboard/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'owba_dashboard/css/style.css' %}">
    <title>owba - {% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" id="main-nav">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'owba_dashboard/img/logo.png' %}" alt="Werkstattmanagement" id="logo">
            </a>
            <form action="{% url 'global-search' %}" method="get" id="global-search">
                <input id="searchbar" name="query" value="{{ request.GET.query }}">
                <button type="submit" class="btn global-search__submit"><i class="fas fa-search"></i></button>
            </form>
            {% include 'owba_dashboard/widgets/avatar.html' %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <div class="d-flex overflow-auto" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="list-group list-group-flush" id="sidebar-menu">
            <a href="{% url 'time-slot-list' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="fas fa-calendar-alt fas-icon-sidebar"></i> Buchungsplan</a>
            <a href="{% url 'werkstatt-user-list' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="fas fa-users fas-icon-sidebar"></i> Werkstattnutzer:innen</a>
            <a href="{% url 'tool-list' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="fas fa-tools fas-icon-sidebar"></i> Werkzeug/Maschinen</a>
            <a href="{% url 'storage-list' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="fas fa-box fas-icon-sidebar"></i> Lagerverwaltung</a>
            <a href="{% url 'introduction-list' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="far fa-lightbulb fas-icon-sidebar"></i> Einweisungen</a>
            <a href="{% url 'transaction-list' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="fas fa-euro-sign fas-icon-sidebar"></i> Abrechnung</a>
            <a href="{% url 'settings-detail' %}" class="list-group-item list-group-item-action bg-light font-dosis"><i class="fas fa-sliders-h fas-icon-sidebar"></i> Einstellungen</a>
            <p class="font-dosis p-2 font-size-10">Problem gefunden? Erstelle einen <a href="https://gitlab.com/owba/makerspacerp/-/issues" target="_blank">Bug-Report</a>.</p>
          </div>
        </div>
        <div id="page-content-wrapper" class="container-fluid position-relative overflow-auto">
            {% breadcrumbs %}
            <div class="page-title">
            {% block page_title %}
                <i class="page-title__icon fas fa-{{ icon }}"></i>
                <h1 class="font-dosis m-0">{{ title }}</h1>
            {% endblock page_title %}
            </div>
            {% if toolbar_buttons|length > 0 %}
            <div class="toolbar">
                {% block toolbar %}
                    {% for button_label, data in toolbar_buttons.items %}
                        {% if data.url.arg %}
                        <a href="{% url data.url.path object|field_value:data.url.arg %}" class="btn btn-primary">
                        {% elif data.url.kwargs %}
                        <a href="{% url data.url.path %}?{{ data.url.kwargs }}" class="btn btn-primary">
                        {% else %}
                        <a href="{% url data.url %}" class="btn btn-primary">
                        {% endif %}
                            {% if data.icon %}
                                <i class="fas fa-{{ data.icon }}"></i>
                            {% endif %}
                            {{ button_label }}
                        </a>
                    {% endfor %}
                {% endblock toolbar %}
            </div>
            {% endif %}
            <div class="overflow-auto" id="main-content">
            {% block content %}{% endblock content %}
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>