{% extends 'owba_dashboard/base.html' %}
{% load static %}
{% load field_value %}
{% load date_delta %}

{% block content %}
    <div class="dropdown text-right mb-1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="view-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ansicht
      </button>
      <div class="dropdown-menu" aria-labelledby="view-menu-button">
        <a class="dropdown-item" href="?view=list">Liste</a>
        <a class="dropdown-item" href="?view=cal">Kalender</a>
      </div>
    </div>
    <div class="cal-header d-flex justify-content-center align-items-end font-dosis">
        <span class="h3 m-0 mr-auto">KW{{ date|date:'W' }}</span>
        <div class="d-flex mr-auto align-items-center">
            <a href="{% url 'time-slot-list' %}?view=cal&date={{ date|date_delta:-1|date:'Y-m-d' }}" class="btn btn-primary m-2"><i class="fas fa-arrow-left h6"></i></a>
            <span class="h3 m-0">{{ date|date:"D, d.m.Y" }} </span>
            <a href="{% url 'time-slot-list' %}?view=cal&date={{ date|date_delta:1|date:'Y-m-d' }}" class="btn btn-primary m-2"><i class="fas fa-arrow-right h6"></i></a>
        </div>
        <div>
            <div>Legende:</div>
            <div class="legend__item"> <span class="legend__icon event--workshop"></span>Werkstattzeit</div>
            <div class="legend__item"><span class="legend__icon event--machine"></span>Maschinenzeit</div>
            <div class="legend__item"><span class="legend__icon event--reservation"></span>Reservierung</div>
        </div>
    </div>
    <div class="cal" data-create-view="{% url views.create %}" data-date="{{ date|date:'Y-m-d' }}">
        <div class="cal-time row-00" id="00"></div>
        <div class="event-space row-00" data-time="00:00:00"></div>
        <div class="cal-time row-01" id="01">01</div>
        <div class="event-space row-01" data-time="01:00:00"></div>
        <div class="cal-time row-02" id="02">02</div>
        <div class="event-space row-02" data-time="02:00:00"></div>
        <div class="cal-time row-03" id="03">03</div>
        <div class="event-space row-03" data-time="03:00:00"></div>
        <div class="cal-time row-04" id="04">04</div>
        <div class="event-space row-04" data-time="04:00:00"></div>
        <div class="cal-time row-05" id="05">05</div>
        <div class="event-space row-05" data-time="05:00:00"></div>
        <div class="cal-time row-06" id="06">06</div>
        <div class="event-space row-06" data-time="06:00:00"></div>
        <div class="cal-time row-07" id="07">07</div>
        <div class="event-space row-07" data-time="07:00:00"></div>
        <div class="cal-time row-08" id="08">08</div>
        <div class="event-space row-08" data-time="08:00:00"></div>
        <div class="cal-time row-09" id="09">09</div>
        <div class="event-space row-09" data-time="09:00:00"></div>
        <div class="cal-time row-10" id="10">10</div>
        <div class="event-space row-10" data-time="10:00:00"></div>
        <div class="cal-time row-11" id="11">11</div>
        <div class="event-space row-11" data-time="11:00:00"></div>
        <div class="cal-time row-12" id="12">12</div>
        <div class="event-space row-12" data-time="12:00:00"></div>
        <div class="cal-time row-13">13</div>
        <div class="event-space row-13" data-time="13:00:00"></div>
        <div class="cal-time row-14">14</div>
        <div class="event-space row-14" data-time="14:00:00"></div>
        <div class="cal-time row-15">15</div>
        <div class="event-space row-15" data-time="15:00:00"></div>
        <div class="cal-time row-16">16</div>
        <div class="event-space row-16" data-time="16:00:00"></div>
        <div class="cal-time row-17">17</div>
        <div class="event-space row-17" data-time="17:00:00"></div>
        <div class="cal-time row-18">18</div>
        <div class="event-space row-18" data-time="18:00:00"></div>
        <div class="cal-time row-19">19</div>
        <div class="event-space row-19" data-time="19:00:00"></div>
        <div class="cal-time row-20" id="20">20</div>
        <div class="event-space row-20" data-time="20:00:00"></div>
        <div class="cal-time row-21">21</div>
        <div class="event-space row-21" data-time="21:00:00"></div>
        <div class="cal-time row-22">22</div>
        <div class="event-space row-22" data-time="22:00:00"></div>
        <div class="cal-time row-23">23</div>
        <div class="event-space row-23" data-time="23:00:00"></div>
        <div class="cal-time row-24">24</div>
        <div class="event-space row-24" data-time="24:00:00"></div>
        {% for time_slot in object_list %}
            <div class="event event--{{ time_slot.type }}" onclick="window.location='{% url views.detail time_slot.pk %}'" data-begin="{{ time_slot.begin_time|date:'H:i' }}" data-end="{{ time_slot.end_time|date:'H:i' }}">
                <div class="detail-tools">
                    <a href="{% url views.update time_slot.pk %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url views.delete time_slot.pk %}"><i class="fas fa-trash"></i></a>
                </div>
                <div class="event__text">
                    <div class="event__title font-dosis h3">{{ time_slot.begin_time|date:'H:i' }}-{{ time_slot.end_time|date:'H:i' }} Uhr: {{ time_slot.user }}</div>
                    <div class="event__subtitle font-weight-light">-{{ time_slot|field_value:"type" }}-</div>
                </div>
            </div>
        {% endfor %}
        <div id="time"></div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'owba_dashboard/js/calendar.js' %}"></script>
{% endblock scripts %}