{% extends 'owba_dashboard/base.html' %}
{% load tabular_list %}

{% block title %}Suchergebnis{% endblock title %}
{% block content %}
    {% for subset in search_results %}
        <h2><i class="fas fa-{{ subset.icon }}"></i> {{ subset.title }}</h2>
        {% tabular_list objects=subset.result render_options=subset.render_options exclude=subset.exclude views=subset.views %}
    {% endfor %}
{% endblock content %}