{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'owba_dashboard/css/pdf.css' %}">
</head>
<body>
    <div class="pdf-header">
        <img src="{% static 'owba_dashboard/img/logo.png' %}" class="logo">
        <p class="adress-block">
            Offene Werkstatt Bamberg<br/>
            Weißenburgstraße 10<br/>
            96052 Bamberg<br/>
        </p>
    </div>
    <h1 class="font-dosis center">{{ object }}</h1>
    <table class="font-dosis w-100">
        <tr>
            <td class="right">Durchgeführt am:</td>
            <td class="border-bottom w-50"></td>
        </tr>
        <tr>
            <td class="right">Durchgeführt von:</td>
            <td class="border-bottom"></td>
        </tr>
        <tr>
            <td class="right p-correct">Teilnehmende:r Werkstattnutzer:in:</td>
            <td class="border-bottom"></td>
        </tr>
    </table>
    <p class="description font-dosis">{{ object.description }}</p>
    <h2 class="font-dosis">Folgende Inhalte wurden vermittelt:</h2>
    <ul class="checklist">
        {% for content in object.introductioncontent_set.all %}
            <li>{{ content.text }}</li>
        {% endfor %}
    </ul>
    <table class="signatures font-dosis">
        <tr>
            <td>Ort, Datum</td>
            <td>Unterschrift Werkstattnutzer:in</td>
            <td>Unterschrift Durchführende:r</td>
        </tr>
    </table>
</body>
</html>