{% extends 'owba_dashboard/generic/detail.html' %}

{% block content %}
    {{ block.super }}
    <h2 class="font-dosis">Inhalte:</h2>
    <ul class="bordered checklist">
    {% for content in object.introductioncontent_set.all %}
        <li>{{ content.text }}</li>
    {% endfor %}
    </ul>
{% endblock %}