{% load static %}
{% load breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'owba_dashboard/img/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2fa93aeef4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'owba_dashboard/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'owba_dashboard/css/style.css' %}">
    <title>owba - {% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" id="main-nav">
            <a class="navbar-brand" href="#">
                <img src="{% static 'owba_dashboard/img/logo.png' %}" alt="Werkstattmanagement" id="logo">
            </a>
        </nav>
    </header>
    <div class="login-body">
        <div class="login-form w-md-50">
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Your username and password didn't match. Please try again.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <p>Log dich ein um auf die Seite zuzugreifen.</p>
                {% endif %}
            {% endif %}

            <h1 class="font-dosis">Bitte log dich ein.</h1>
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label_tag }}
                {{ form.password }}
            </p>

            <input type="submit" class="btn btn-primary" value="Einloggen">
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% else %}
            <input type="hidden" name="next" value="/">
            {% endif %}
            </form>
        </div>
    </div>
</body>