{% extends 'owba_dashboard/generic/detail.html' %}

{% block page_title %}
    <h1 class="font-dosis"><i class="fas fa-{{ icon }}"></i> {{ title }}</h1>
    {% if update_view or delete_view %}
        <div class="detail-tools">
        {% if update_view %}
            <a href="{% url update_view %}"><i class="fas fa-edit"></i></a>
        {% endif %}
        {% if delete_view %}
            <a href="{% url delete_view %}"><i class="fas fa-trash"></i></a>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}