{% extends 'owba_dashboard/generic/list.html' %}

{% block content %}
    <div class="dropdown text-right mb-1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="view-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ansicht
      </button>
      <div class="dropdown-menu" aria-labelledby="view-menu-button">
        <a class="dropdown-item" href="?view=list">Liste</a>
        <a class="dropdown-item" href="?view=cal">Kalender</a>
      </div>
    </div>
    {{ block.super}}
{% endblock content %}