{% extends 'owba_dashboard/base.html' %}

{% block title %}Transaktionen{% endblock title %}

{% block content %}
    <div class="d-flex table-toolbar">
        <input type="text" id="table-search" onkeyup="filterTable()" placeholder="Suchbegriff">
        <a class="btn btn-primary" href="{% url 'transaction-create' %}" role="button"><i class="fas fa-plus"></i> Neue Transaktion</a>
    </div>
    <div class="container-fluid table">
        <div class="row table-heading">
            <div class="col-md-2">Datum / Uhrzeit</div>
            <div class="col-md-2 text-right">Betrag</div>
            <div class="col-md-2">Nutzer:in</div>
            <div class="col">Beschreibung</div>
        </div>
        {% for transaction in object_list %}
            <div class="row table-row" onclick="window.location='{% url 'transaction-detail' transaction.pk %}';">
                <div class="col-md-2">{{ transaction.time_stamp|date:'d.m.y - H:i' }}</div>
                {% if transaction.amount > 0 %}
                <div class="col-md-2 text-right text-green">{{ transaction.amount }}€</div>
                {% else %}
                <div class="col-md-2 text-right text-red">{{ transaction.amount }}€</div>
                {% endif %}
                <div class="col-md-2">{{ transaction.account.user }}</div>
                <div class="col-md-4">{{ transaction.description }}</div>
                <div class="col d-flex justify-content-around">
                    <a href="{% url 'transaction-update' transaction.pk %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'transaction-delete' transaction.pk %}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        {% empty %}
            Bisher wurden noch keine Transaktionen vorgenommen. <a href="{% url 'transaction-create' %}">Erstelle die erste!</a>
        {% endfor %}
    </div>
{% endblock content %}