{% extends 'owba_dashboard/generic/detail.html' %}
{% load static %}
{% load tabular_list %}
{% load invert %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 p-0">
                {% include 'owba_dashboard/widgets/alerts.html' %}
                <h2>Stammdaten:</h2>
                {{ block.super }}
                <h2>Einweisungen:</h2>
                {% tabular_list objects=object.participations.all columns=introduction_list_columns render_options=render_options views=introduction_participation_views %}
                <h2>Zeitslots:</h2>
                {% tabular_list objects=time_slots.objects columns=time_slots.columns views=time_slots.views render_options=time_slots.render_options %}
                <h2>Materialverbrauch:</h2>
            </div>
            <div class="col-md-4">
                {% include 'owba_dashboard/widgets/checkin-status.html' with user=object %}
                <div class="account-balance-widget">
                    <div class="font-dosis">Kontostand</div>
                    {% if object.account.balance > 0.00 %}
                        <div class="account-balance text-green">
                    {% else %}
                        <div class="account-balance text-red">
                    {% endif %}
                            {{ object.account.balance }}€
                        </div>
                    <form method="get" action="{% url 'transaction-create' %}">
                        <input type="hidden" name="amount" value="{{ object.account.balance|invert }}">
                        <input type="hidden" name="account" value="{{ object.account.pk }}">
                        <input type="hidden" name="description" value="Konto ausgleichen">
                        <input type="submit" class="btn btn-primary w-100 mt-1" value="Konto ausgleichen">
                    </form>
                    <form method="get" action="{% url 'transaction-create' %}">
                        <div class="mb-1 mt-2 d-flex justify-content-center">
                            <button id="charge-account__minus" class="btn mr-1" type="button">-</button>
                            <input id="charge-account__amount" class="w-25" name="amount" value="5.00€">
                            <button id="charge-account__plus" class="btn ml-1" type="button">+</button>
                        </div>
                        <input type="hidden" name="account" value="{{ object.account.pk }}">
                        <input type="hidden" name="description" value="Einzahlung">
                        <input type="submit" class="btn btn-primary w-100 mt-1" value="Konto aufladen">
                    </form>
                    <div class="transaction-list mt-2 container">
                        <div class="row">
                            <div class="font-dosis text-left col">Transaktionen:</div>
                            <a href="#" class="col font-dosis text-right">(Alle anzeigen)</a>
                        </div>
                        {% for transaction in transaction_list %}
                            <div class="transaction-list__row table-row row cursor-pointer" onclick="window.location='{% url transaction_detail_view transaction.pk %}?previous={{ request.get_full_path }}&previousname={{ title }}'">
                                <div class="col-sm-7 text-left">{{ transaction.time_stamp|date:'d.m.y - H:i' }}:</div>
                                {% if transaction.amount > 0 %}
                                    <div class="col-sm-5 text-right text-green">
                                {% else %}
                                    <div class="col-sm-5 text-right text-red">
                                {% endif %}
                                        {{ transaction.amount }}€</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'owba_dashboard/js/account-balance-widget.js' %}"></script>
    <script src="{% static 'owba_dashboard/js/checkin-status-widget.js' %}"></script>
{% endblock scripts %}