{% if breadcrumbs %}
<div id="breadcrumbs">
    {% if request.GET.previous and request.GET.previousname %}
        <a href="{{ request.GET.previous }}">{{ request.GET.previousname }}</a> >>
        {% for key, url in breadcrumbs.items %}
            {% if forloop.last %}
                <a href="{{ url }}">{{ key }}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for key, url in breadcrumbs.items %}
            {% if forloop.last %}
                <a href="{{ url }}">{{ key }}</a>
            {% else %}
                <a href="{{ url }}">{{ key }}</a> >>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}