{% load verbose_name %}
{% load field_value %}


{% if objects|length > 0 %}
    <div class="container-fluid table">
        <div class="row table-heading">
            {% for column in columns %}
                {% if column.render_options.width %}
                    <div class="col-md-{{ column.render_options.width }} table-col">
                        {{ column.verbose_name }}
                    </div>
                {% else %}
                    <div class="col table-col">{{ column.verbose_name }}</div>
                {% endif %}
            {% endfor %}
            {% if views.update or views.delete %}
                <div class="col-md-1 table-col"></div>
            {% endif %}
        </div>
    {% for object in objects %}
        <div class="row table-row" {% if views.detail %}onclick="window.location='{% url views.detail object.pk %}'"{% endif %}>
            {% for column in columns %}
                 {% if column.render_options.width %}
                    <div class="col-md-{{ column.render_options.width }} table-col">
                        {% if column.render_options.tag == 'img' %}
                            <img src="{{ object|field_value:column.name }}">
                        {% elif column.render_options.date_format %}
                            {{ object|field_value:column.name|date:column.render_options.date_format }}
                        {% elif column.render_options.format %}
                        {% else %}
                            {{ object|field_value:column.name }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col table-col">{{ object|field_value:column.name }}</div>
                {% endif %}
            {% endfor %}
            {% if views.update or views.delete %}
                <div class="col-md-1 d-flex justify-content-around table-col">
                    {% if views.update %}
                        <a href="{% url views.update object.pk %}?prev={{ request.path }}" class="icon-link"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    {% if views.delete %}
                        <a href="{% url views.delete object.pk %}?prev={{ request.path }}" class="icon-link"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="table">
        <div class="table-row text-center">
        Bisher keine Einträge.
        {% if views.create %}
        <a href="{% url views.create %}{% if views.create_initial %}?{{ views.create_initial }}{% endif %}">Neuen Eintrag hinzufügen</a>
        {% endif %}
        </div>
    </div>
{% endif %}