.font-dosis {
  font-family: 'Dosis', sans-serif; }

.font-size-8 {
  font-size: 8pt; }

.font-size-10 {
  font-size: 10pt; }

@page {
  size: "A4";
  margin: 0cm 1.5cm 3.5cm 1.5cm; }
.pdf-header {
  margin-left: -1.5cm;
  margin-right: -1.5cm;
  height: 3cm; }

.logo {
  width: 40%;
  margin: 1cm 0 0 1cm; }

.adress-block {
  font-family: sans-serif;
  font-weight: lighter;
  text-align: right;
  position: absolute;
  right: 0;
  top: 1cm; }

h1, h2 {
  font-weight: normal; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.subtitle {
  display: block;
  text-align: center;
  line-height: 2em; }

table {
  background-color: #e2e2e2;
  padding: 0.5cm;
  line-height: 2em; }
  table td, table tr {
    padding: 0; }
  table .p-correct {
    margin-bottom: -0.5em; }

.border-bottom {
  border-bottom: 1px dotted #000000; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.description {
  text-align: justify;
  hyphens: auto;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 11pt; }

.checklist {
  list-style-type: none;
  padding-left: 0;
  line-height: 2em;
  font-family: sans-serif;
  font-weight: lighter; }
  .checklist li::before {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #c5c5c5;
    border-radius: 0.2em;
    content: " ";
    margin-right: 0.5em; }

.signatures {
  background-color: #ffffff;
  padding: 0;
  width: 100%;
  margin-top: 3em;
  border-spacing: 1.2em;
  border-collapse: separate; }
  .signatures td {
    width: 33%;
    border-top: 1px dotted #000000; }

/*# sourceMappingURL=pdf.css.map */
