.font-dosis {
  font-family: 'Dosis', sans-serif; }

.font-size-8 {
  font-size: 8pt; }

.font-size-10 {
  font-size: 10pt; }

#breadcrumbs {
  font-family: 'Dosis', sans-serif;
  margin: 1rem 0 1rem 0; }
  #breadcrumbs a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.2em;
    background-color: #f3f3f3;
    color: #000000;
    transition: 0.5s; }
  #breadcrumbs a:hover {
    background-color: #e2e2e2;
    color: #000000;
    text-decoration: none; }

.table {
  overflow: visible;
  flex-direction: column;
  display: flex; }

.table-heading {
  align-items: stretch;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 0.2rem 0.2rem 0 0;
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
  font-size: 0.7em;
  position: sticky;
  top: 4rem;
  z-index: 98; }
  .table-heading .col-md-1 {
    word-wrap: break-word; }

.table-row {
  padding: 0.5rem 0 0.5rem 0;
  border: 1px solid #e2e2e2;
  border-top: none;
  cursor: pointer;
  align-items: stretch; }
  .table-row:hover {
    background-color: #f8f8f8; }
  .table-row:hover .icon-link {
    color: #8d8d8d; }
  .table-row .icon-link {
    color: #e2e2e2;
    transition: 0.3s; }
    .table-row .icon-link:hover {
      color: #4f4f4f; }

.table-row:first-child {
  border-top: 1px solid #e2e2e2; }

.table-col {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.bordered {
  border: 1px solid #e2e2e2;
  border-radius: 0.2rem;
  padding: 1rem 2rem; }

.checklist {
  list-style-type: none; }
  .checklist li::before {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #c5c5c5;
    border-radius: 0.2em;
    content: " ";
    margin-right: 0.5em; }

.page-title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em; }
  .page-title:hover a {
    color: #8d8d8d; }
  .page-title .page-title__icon {
    font-size: 1.75rem;
    margin-right: 0.3em;
    color: #495057; }

.detail-tools {
  align-self: start; }
  .detail-tools a {
    color: #e2e2e2;
    transition: 0.3s; }
    .detail-tools a:hover {
      color: #4f4f4f; }

.toolbar {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  margin-top: -1em; }
  .toolbar a {
    margin-left: 1em; }

.helptext {
  font-family: 'Dosis', sans-serif; }

.cursor-pointer:hover {
  cursor: pointer; }

.login-body {
  background-image: url("../img/workshop-impression.jpg");
  background-size: cover;
  background-position: center bottom;
  height: calc(100vh - 4rem); }

.login-form {
  background-color: #ffffff;
  display: inline-block;
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.2rem; }
  .login-form input {
    width: 100%; }

.account-balance-widget {
  text-align: center; }

.transaction-list__row {
  padding: 0.1em;
  border-bottom: 1px solid #d5d5d5;
  border-left: none !important;
  border-right: none !important; }

.cal {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-top: none;
  height: 800vh;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-rows: repeat(1470, 1fr);
  overflow: hidden; }
  .cal :last-child {
    border-bottom: 0; }

.cal-header {
  position: sticky;
  top: 4em;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  z-index: 98; }

.legend__item {
  display: flex;
  align-items: center;
  line-height: 1.5em;
  position: relative; }

.legend__icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.5em;
  vert-align: middle; }

.cal-row {
  border-bottom: 1px solid #e2e2e2;
  grid-column: 1/ span 2; }

.cal-time {
  grid-column: 1;
  background-color: #f7f7f7;
  grid-row: span 60;
  line-height: calc(800vh/24);
  border-bottom: #191919;
  text-align: center;
  font-family: 'Dosis', sans-serif; }

.event-space {
  grid-column: 2;
  border-bottom: 1px solid #e2e2e2;
  transition: 0.2s;
  cursor: pointer; }
  .event-space:hover {
    background-color: #f7f7f7; }

.event {
  grid-column: 2;
  grid-row-start: 750;
  grid-row-end: 1156;
  color: white;
  font-weight: bold;
  margin: 0 1em 0 1em;
  border-radius: 0.2rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 0px #5d5d5d;
  transition: 0.8s;
  min-height: 0;
  overflow: hidden; }
  .event:hover {
    margin: 0 0.5em 0 0.5em;
    min-height: 5em;
    box-shadow: 0px 0px 5px #474747;
    z-index: 97; }
  .event:hover .event__title {
    font-size: 1em; }
  .event:hover .event__subtitle {
    font-size: 1.5em; }
  .event .event__subtitle {
    font-weight: lighter; }
  .event .detail-tools {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5em; }
    .event .detail-tools a {
      color: #ffffff;
      opacity: 0.75; }
    .event .detail-tools a:hover {
      color: #474747; }
  .event .event__title, .event .event__subtitle {
    transition: 0.5s; }
  .event .event__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.event--machine {
  background-color: #dc8f5c; }

.event--workshop {
  background-color: #6DDCBD; }

.event--reservation {
  background-color: #7686dc; }

.event.running {
  border-radius: 0.2em 0.2em 0 0; }

#time {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: red; }

.row-00 {
  grid-row: 1/60; }

.row-00.cal-time {
  grid-row: 1/30; }

.row-01 {
  grid-row: 60/120; }

.row-01.cal-time {
  grid-row: 30/90; }

.row-02 {
  grid-row: 120/180; }

.row-02.cal-time {
  grid-row: 90/150; }

.row-03 {
  grid-row: 180/240; }

.row-03.cal-time {
  grid-row: 150/210; }

.row-04 {
  grid-row: 240/300; }

.row-04.cal-time {
  grid-row: 210/270; }

.row-05 {
  grid-row: 300/360; }

.row-05.cal-time {
  grid-row: 270/330; }

.row-06 {
  grid-row: 360/420; }

.row-06.cal-time {
  grid-row: 330/390; }

.row-07 {
  grid-row: 420/480; }

.row-07.cal-time {
  grid-row: 390/450; }

.row-08 {
  grid-row: 480/540; }

.row-08.cal-time {
  grid-row: 450/510; }

.row-09 {
  grid-row: 540/600; }

.row-09.cal-time {
  grid-row: 510/570; }

.row-10 {
  grid-row: 600/660; }

.row-10.cal-time {
  grid-row: 570/630; }

.row-11 {
  grid-row: 660/720; }

.row-11.cal-time {
  grid-row: 630/690; }

.row-12 {
  grid-row: 720/780; }

.row-12.cal-time {
  grid-row: 690/750; }

.row-13 {
  grid-row: 780/840; }

.row-13.cal-time {
  grid-row: 750/810; }

.row-14 {
  grid-row: 840/900; }

.row-14.cal-time {
  grid-row: 810/870; }

.row-15 {
  grid-row: 900/960; }

.row-15.cal-time {
  grid-row: 870/930; }

.row-16 {
  grid-row: 960/1020; }

.row-16.cal-time {
  grid-row: 930/990; }

.row-17 {
  grid-row: 1020/1080; }

.row-17.cal-time {
  grid-row: 990/1050; }

.row-18 {
  grid-row: 1080/1140; }

.row-18.cal-time {
  grid-row: 1050/1110; }

.row-19 {
  grid-row: 1140/1200; }

.row-19.cal-time {
  grid-row: 1110/1170; }

.row-20 {
  grid-row: 1200/1260; }

.row-20.cal-time {
  grid-row: 1170/1230; }

.row-21 {
  grid-row: 1260/1320; }

.row-21.cal-time {
  grid-row: 1230/1290; }

.row-22 {
  grid-row: 1320/1380; }

.row-22.cal-time {
  grid-row: 1290/1350; }

.row-23 {
  grid-row: 1380/1440; }

.row-23.cal-time {
  grid-row: 1350/1410; }

.row-24 {
  grid-row: 1440/1470; }

.row-24.cal-time {
  grid-row: 1410/1470; }

.avatar {
  height: 3em;
  width: 3em;
  margin-left: 2em;
  margin-right: 2em;
  position: relative; }
  .avatar button {
    height: 100%;
    width: 100%;
    background-color: #e94190;
    color: #ffffff;
    border-radius: 1.5em;
    border: none;
    line-height: 3em;
    font-family: 'Dosis', sans-serif;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
