@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

h1, h2, h3, h4{
  font-family: 'Dosis', sans-serif;
  color: #495057;
}

header{
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.2);
  z-index: 99;
}

.text-red{
  color: #df2752;
}

.text-green{
  color: #23be58;
}

.clickable-icon{
  color: #cfcfcf;
}

.clickable-icon:hover{
  color: #000000;
}

#main-nav{
  display: flex;
}

#logo{
  height: 2em;
  margin-right: 10em;
}

#global-search{
  flex-grow: 1;
  display: flex;
}

#searchbar{
  flex-grow: 1;
  background-color: #ededed;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding-left: 0.8em;
}

.global-search__submit{
  border-radius: 0px 5px 5px 0px;
  background-color: #e94190;
  color: #ffffff;
}

#wrapper{
  overflow: visible;
  position: relative;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -18rem;
  font-size: 1.2rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-menu{
  position: sticky;
  top: 4rem;
}

#sidebar-wrapper .list-group {
  width: 18rem;
}

.fas-icon-sidebar{
  width: 2rem;
  text-align: center;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.table-toolbar{
  margin-bottom: 1rem;
}

#table-search{
  flex-grow: 1;
  margin-right: 0.5em;
}

.table tr{
  cursor: pointer;
}

.tabular-list{
  width: 100%;
}

.tabular-list__head{
  font-weight: bold;
}

.tabular-list__row, .tabular-list__head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tabular-list__row{
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #e8e8e8;
  color: #000000;
}

.tabular-list__row:hover{
  text-decoration: none;
  color: #000000;
  background-color: #e8e8e8;
}

.tabular-list__cell, .tabular-list__column{
  padding: 0 1em 0 1em;
}

.create-form input, .create-form select, .create-form textarea{
  width: 100%;
}

.create-form input[type="checkbox"]{
  width: auto;
  heigth: 1.5em;
}

.account-balance{
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}