{% extends 'owba_dashboard/base.html' %}
{% load verbose_name %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Bist du dir sicher dass du {{ object|verbose_name }} <b>"{{ object }}"</b> löschen möchtest?</p>
        {% if request.GET.prev %}
        <a class="btn btn-primary mb-2 w-100" href="{{ request.get_base_url }}{{ request.GET.prev }}">Abbrechen</a>
        {% else %}
        <a class="btn btn-primary mb-2 w-100" href="{% url 'index' %}">Abbrechen</a>
        {% endif %}
        <input type="submit" value="Weg damit!" class="btn btn-primary w-100">
    </form>
{% endblock content %}