{% extends 'owba_dashboard/base.html' %}
{% load get_fields %}
{% load field_value %}
{% load var_format %}


{% block title %}{{ object }}{% endblock title %}

{% block page_title %}
    {{ block.super }}
    {% if update_view or delete_view %}
        <div class="detail-tools">
        {% if update_view %}
            <a href="{% url update_view object.pk %}"><i class="fas fa-edit"></i></a>
        {% endif %}
        {% if delete_view %}
            <a href="{% url delete_view object.pk %}"><i class="fas fa-trash"></i></a>
        {% endif %}
        </div>
    {% endif %}
{% endblock page_title %}

{% block content %}
    <div class="table container-fluid">
    {% for field in object|get_fields:fields %}
        <div class="table-row row">
            <div class="col-md-3 font-weight-bold">{{ field.verbose_name }}:</div>
            {% if field.format %}
                <div class="col-md-9">{{ object|field_value:field.name|var_format:field.format }}</div>
            {% else %}
                <div class="col-md-9">{{ object|field_value:field.name }}</div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% for cat in object.categories.all %}
        {{ cat }}
    {% endfor %}
{% endblock content %}