{% extends 'owba_dashboard/base.html' %}
{% load verbose_name %}
{% load field_value %}
{% load tabular_list %}

{% block content %}
    <div class="d-flex table-toolbar">
        <input type="text" id="table-search" onkeyup="filterTable()" placeholder="Suchbegriff">
        <a class="btn btn-primary mr-2" href="#" role="button"><i class="fas fa-expand"></i></a>
        {% if views.create %}<a class="btn btn-primary" href="{% url views.create %}?prev={{ request.path }}" role="button"><i class="fas fa-plus"></i> {{ verbose_name }} hinzufügen</a>{% endif %}
    </div>
    {% tabular_list objects=object_list columns=tabular_list_columns render_options=render_options views=views %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Seite 1</a>
                <a href="?page={{ page_obj.previous_page_number }}">vorherige Seite</a>
            {% endif %}

            <span class="current">
                Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">nächste Seite</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Letzte Seite &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}