{% extends 'owba_dashboard/base.html' %}

{% block title %}Bearbeiten: {{ object }}{% endblock %}

{% block content %}
    <form method="post" class="create-form w-50">{% csrf_token %}
        {{ form.as_p }}
        {% if request.GET.prev %}
        <a class="btn btn-primary mb-2 w-100" href="{{ request.get_base_url }}{{ request.GET.prev }}">Abbrechen</a>
        {% else %}
        <a class="btn btn-primary mb-2 w-100" href="{% url 'index' %}">Abbrechen</a>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Änderungen speichern">
    </form>
{% endblock content %}