<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} class="datetime">
<div class="btn btn-primary"><i class="fas fa-calendar-alt"></i></div>