{% if object.agreed_to_code_of_conduct is False %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">&times;</button>
        <div class="d-flex align-items-center mb-2">
            <p class="m-0">
                Werkstattnutzer:in <b>{{ object }}</b> hat noch nicht in die Hausordnung der owba eingewilligt!
            </p>
        </div>
    </div>
{% endif %}
{% if object.agreed_to_terms_of_service is False %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">&times;</button>
        <div class="d-flex align-items-center mb-2">
            <p class="m-0">
                Werkstattnutzer:in <b>{{ object }}</b> hat noch nicht in die Nutzungsbedingungen der owba eingewilligt!
            </p>
        </div>
    </div>
{% endif %}
{% if object.identified is False %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
        <div class="d-flex align-items-center mb-2">
            <p class="m-0">
                Werkstattnutzer:in <b>{{ object }}</b> hat noch kein Ausweisdokument vorgelegt!
            </p>
        </div>
    </div>
{% endif %}
{% if object.missing_introductions|length > 0 %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">&times;</button>
        <p class="m-0">
            Werkstattnutzer:in <b>{{ object }}</b> fehlen folgende, für alle verbindliche Einweisungen:
        </p>
        <hr>
        <ul>
        {% for introduction in object.missing_introductions %}
            <li>{{ introduction.title }} <a href="{% url introduction_participation_views.create %}?user={{ object.pk }}&introduction={{ introduction.pk }}">(hinzufügen)</a></li>
        {% endfor %}
        </ul>
    </div>
{% endif %}