<div class="avatar">
  <button class="avatar-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    MM
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    <a class="dropdown-item" href="{% url 'user-detail' request.user.pk %}">Profil</a>
    <a class="dropdown-item" href="{% url 'user-list' %}">Thekenkräfte</a>
  </div>
</div>