{% load field_value %}

<div class="workshop-checkin-widget mb-5">
    {% if user.checked_in.status is True %}
        <div id="workshop-checkin-widget__timer" class="h2 text-green text-center font-dosis" data-since="{{ user.checked_in.since|date:'r' }}">0h 0min 0s</div>
        <div class="font-dosis h4 text-center mb-3"><i class="fas fa-circle text-green"></i> {{ user.first_name }} ist in der Werkstatt.</div>
        <a class="btn btn-primary w-100 mb-1" href="{% url 'werkstatt-user-checkin' user.id %}?next={{ request.path }}">{{ user.first_name }} auschecken</a>
    {% else %}
        <div class="font-dosis h4 text-center mb-3"><i class="fas fa-circle text-red"></i> {{ user.first_name }} ist zuhause.</div>
        <form method="get" action="{% url 'werkstatt-user-checkin' user.id %}">
            <div class="form-group">
                <label for="plan-select">Tarif:</label>
                <select class="form-control mb-2 text-center" id="plan-select" name="plan">
                    <option value="basic" selected>BASIC</option>
                    <option value="plus">PLUS</option>
                </select>
                <input type="hidden" name="next" value="{{ request.path }}">
            </div>
            <button type="submit" class="btn btn-primary w-100">{{ user.first_name }} einchecken</button>
        </form>
    {% endif %}
</div>